*, *:hover, *:active, *:focus {
  outline: rgba(0, 0, 0, 0);
  outline: none;
}
html, body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $base-text-color;
  background-color: $white;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $title-font-family;
  color: $grey-dark;
}

a {
  font-family: $title-font-family;
  color: $base-blue;
}

.nav > .active > a, .nav > .active:hover > a, .nav > .active:focus > a{
  background-color: $grey-dark !important;
}

.nav > li:hover > a, .nav > li:focus > a {
  background-color: lighten($grey-med, 15%) !important;
}

button {
  font-family: $title-font-family;
}

.navbar-fixed-top + .content-container {
  margin-top: 70px;
}
.content-container {
  margin: 0 130px;
}

//HEADER
header {
  background: $grey-dark;
  color: $white;
  border: none;
  padding-left: 1rem;
  h2, h1, h3, a, a:hover, a:active, a:focus {
    color: $white;
    display: inline-block;
    vertical-align: bottom;
  }
  .custom-dropdown {
    display: inline-block;
    vertical-align: bottom;
    margin-top: 1.5rem;
    cursor: pointer;
  }
}

.btn-smartphone-menu {
  position: absolute;
  right: 0;
  top: -55px;
  background: $grey-dark;
  border: none;
  &:hover, &:focus {
    color: white;
    border: none;
  }
}

.smartphone-menu {
  margin-bottom: 1rem;
}

.logo {
  width: 50px;
  margin: 1rem;
}


//FORMS
label {
  font-family: $title-font-family;
}

.btn-custom {
  background-color: $base-blue;
  color: $white;
  @include vendor (transition, $base-transition-time);
  &:active, &:hover, &:focus {
    background-color: darken($base-blue, 5%);
    color: $white;
  }
}

.login-form {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  background: $grey-dark;
  & > form {
    background: $grey-base;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 3rem;
    @include vendor (border-radius, $brand-round);
  }
}
//BOTON PARA SUBIR
.to-top-link {
  display: block;
  position: absolute;
  left: 0;
  margin-top: 2rem;
  background: $grey-med;
  width: 100%;
  height: 50px;
  padding-top: 12px;
  text-align: center;
  @include vendor (transition, $base-transition-time);
  &:hover, &:active, &:focus {
    background: darken($grey-dark, 5%);
  }
}

//TITULOS
.title {
  font-size: $h2-size;
  color: $grey-dark;
  font-family: $title-font-family;
  border-bottom: 1px dotted $grey-med;
  padding-bottom: .5rem;
  margin-bottom: .75rem;
}

//TABLAS
.table {
  margin-top: 1rem;
  a {
    display: inline-block;
    margin-left: 1rem;
    float: right;
  }
  thead {
    background-color: $grey-dark;
    color: $white;
    font-family: $title-font-family;
    tr th {
      border: none;
    }
  }
  .file-resource {
    display: inline-block;
    margin-left: 0;
    float: none;
  }
}

//ALERT
.alert {
  margin: 1rem 0 .5rem;
  strong {
    font-family: $title-font-family;
  }
}

pre {
  background-color: darken($grey-dark, 37%) !important;
  c1{}
}

//MARGINS
.t-margin {
  margin-top: 10px;
}

.b-margin {
  margin-bottom: 10px;
}
